In [2]:
import sqlite3
conn = sqlite3.connect("skat.db")
#datenbankverbindung
cur = conn.cursor()

In [24]:
cur.execute(""" DROP TABLE IF EXISTS spieler """)
cur.execute("""CREATE TABLE spieler(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT
)""")
conn.commit()

In [25]:
cur.execute(""" DROP TABLE IF EXISTS spiel """)
cur.execute("""CREATE TABLE spiel(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    datum INTEGER,
    anzahl_runden INTEGER,
    anzahl_punkte INTEGER
)""")
conn.commit()

In [26]:
cur.execute(""" DROP TABLE IF EXISTS runde """)
# KLärung: Ist re-partei nicht eig. auch ein fremdschlüssel?
cur.execute("""CREATE TABLE runde(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    spiel_id INTEGER,
    re_partei INTEGER,
    spielart INTEGER,
    bock INTEGER,
    re INTEGER,
    kontra INTEGER,
    mit INTEGER,
    ohne INTEGER,
    gewonnen INTEGER,
    hand INTEGER,
    ouvert INTEGER,
    schneider INTEGER,
    schneider_angesagt INTEGER,
    schwarz INTEGER,
    schwarz_angesagt INTEGER,
    punkte INTEGER,
    FOREIGN KEY(spiel_id) REFERENCES spiel(id)

    
)""")
conn.commit()

In [27]:
cur.execute(""" DROP TABLE IF EXISTS spielerposition """)
cur.execute("""CREATE TABLE spielerposition(
    spieler_id INTEGER,
    runde_id INTEGER,
    position INTEGER,
    FOREIGN KEY(spieler_id) REFERENCES spieler(id),
    FOREIGN KEY(runde_id) REFERENCES runde(id)
    

)""")
conn.commit()

In [28]:
#SPIELER HINZUFÜGEN:
cur.execute("""INSERT INTO spieler(name) VALUES("Sushi")""")
conn.commit()

In [36]:
#RUNDE HINZUFÜGEN:
cur.execute("""INSERT INTO runde(spiel_id, re_partei, spielart, bock, re, kontra, mit, ohne, gewonnen, 
hand, ouvert, schneider, schneider_angesagt, schwarz, schwarz_angesagt, 
punkte) 
VALUES(1, 3, 3, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 3)""")
conn.commit()

In [30]:
#SPIEL HINZUFÜGEN:
cur.execute("""INSERT INTO spiel(datum, anzahl_runden, anzahl_punkte) VALUES(1541174821, 0, 1000)""")
conn.commit()

In [31]:
#POSITIONEN HINZUFÜGEN#
cur.execute("""INSERT INTO spielerposition(spieler_id, runde_id, position) VALUES(4,1,3)""")
conn.commit()

In [32]:
#Spieler entfernen

In [40]:
cur.execute("SELECT * FROM runde where spiel_id =1").fetchall()

[(1, 1, 1, 3, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 36),
 (2, 1, 1, 3, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 1),
 (3, 1, 2, 3, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 2),
 (4, 1, 3, 3, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 3),
 (10,
  1,
  3,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  192)]

In [7]:
cur.execute("SELECT * FROM spiel").fetchall()

[(1, 1541174821, 0, 1000),
 (2, 1546273480, 12, 1000),
 (3, 1546273743, 12, 1000),
 (4, 1552060897, 12, 1000),
 (5, 1552063254, 12, 1000),
 (6, 1552063488, 12, 1000),
 (7, 1552063551, 12, 1000),
 (8, 1552063602, 12, 1000),
 (9, 1552063751, 12, 1000),
 (10, 1552063907, 12, 1000),
 (11, 1552063934, 12, 1000),
 (12, 1552063965, 12, 1000),
 (13, 1552065240, 12, 1000),
 (14, 1552065832, 12, 1000),
 (15, 1552065975, 12, 1000),
 (16, 1552065979, 12, 1000),
 (17, 1552065992, 12, 1000),
 (18, 1552066016, 12, 1000),
 (19, 1552066155, 12, 1000),
 (20, 1552066179, 12, 1000),
 (21, 1552066268, 12, 1000),
 (22, 1552066283, 12, 1000),
 (23, 1552066366, 12, 1000),
 (24, 1552066750, 12, 1000),
 (25, 1552067013, 12, 1000),
 (26, 1552067080, 12, 1000),
 (27, 1552070248, 12, 1000),
 (28, 1552070608, 12, 1000),
 (29, 1552070673, 12, 1000),
 (30, 1552070835, 12, 1000),
 (31, 1552070886, 12, 1000)]

In [10]:
cur.execute('DELETE FROM spiel WHERE id>1')
conn.commit()